				@font-face {
					font-family: 'derivia-regular';
					src: url('1351Derivia-Regular.woff2') format('woff2'),
						url('1351Derivia-Regular.woff') format('woff');
					  font-display: auto;
				}

				.derivia-regular{font-family: 'derivia-regular' !important;}

						@font-face {
					font-family: 'ayres';
					src: url('6632Ayres.woff2') format('woff2'),
						url('6632Ayres.woff') format('woff');
					  font-display: auto;
				}

				.ayres{font-family: 'ayres' !important;}

						@font-face {
					font-family: 'koldby';
					src: url('9878Koldby.woff2') format('woff2'),
						url('9878Koldby.woff') format('woff');
					  font-display: auto;
				}

				.koldby{font-family: 'koldby' !important;}

						@font-face {
					font-family: 'voor';
					src: url('7990Voor.woff2') format('woff2'),
						url('7990Voor.woff') format('woff');
					  font-display: auto;
				}

				.voor{font-family: 'voor' !important;}

						@font-face {
					font-family: 'master-of-break';
					src: url('9897Master-of-Break.woff2') format('woff2'),
						url('9897Master-of-Break.woff') format('woff');
					  font-display: auto;
				}

				.master-of-break{font-family: 'master-of-break' !important;}

						@font-face {
					font-family: 'nalika-signature';
					src: url('5529Nalika-Signature.woff2') format('woff2'),
						url('5529Nalika-Signature.woff') format('woff');
					  font-display: auto;
				}

				.nalika-signature{font-family: 'nalika-signature' !important;}

						@font-face {
					font-family: 'foglihtenno07';
					src: url('3395FoglihtenNo07.woff2') format('woff2'),
						url('3395FoglihtenNo07.woff') format('woff');
					  font-display: auto;
				}

				.foglihtenno07{font-family: 'foglihtenno07' !important;}

						@font-face {
					font-family: 'oranienbaum';
					src: url('4216Oranienbaum.woff2') format('woff2'),
						url('4216Oranienbaum.woff') format('woff');
					  font-display: auto;
				}

				.oranienbaum{font-family: 'oranienbaum' !important;}

						@font-face {
					font-family: 'khodijah-free';
					src: url('5396Khodijah-Free.woff2') format('woff2'),
						url('5396Khodijah-Free.woff') format('woff');
					  font-display: auto;
				}

				.khodijah-free{font-family: 'khodijah-free' !important;}

						@font-face {
					font-family: 'belgiano-serif-2';
					src: url('3189Belgiano-Serif-2.woff2') format('woff2'),
						url('3189Belgiano-Serif-2.woff') format('woff');
					  font-display: auto;
				}

				.belgiano-serif-2{font-family: 'belgiano-serif-2' !important;}

						@font-face {
					font-family: 'euphorigenic';
					src: url('1459euphorigenic.woff2') format('woff2'),
						url('1459euphorigenic.woff') format('woff');
					  font-display: auto;
				}

				.euphorigenic{font-family: 'euphorigenic' !important;}

						@font-face {
					font-family: 'finserifdisplay-bold';
					src: url('2548FinSerifDisplay-Bold.woff2') format('woff2'),
						url('2548FinSerifDisplay-Bold.woff') format('woff');
					  font-display: auto;
				}

				.finserifdisplay-bold{font-family: 'finserifdisplay-bold' !important;}

						@font-face {
					font-family: 'mkorsair';
					src: url('255MKorsair.woff2') format('woff2'),
						url('255MKorsair.woff') format('woff');
					  font-display: auto;
				}

				.mkorsair{font-family: 'mkorsair' !important;}

						@font-face {
					font-family: 'welland-free';
					src: url('8770Welland-FREE.woff2') format('woff2'),
						url('8770Welland-FREE.woff') format('woff');
					  font-display: auto;
				}

				.welland-free{font-family: 'welland-free' !important;}

						@font-face {
					font-family: 'stalemate-regular';
					src: url('7967Stalemate-Regular.woff2') format('woff2'),
						url('7967Stalemate-Regular.woff') format('woff');
					  font-display: auto;
				}

				.stalemate-regular{font-family: 'stalemate-regular' !important;}

						@font-face {
					font-family: 'mogan';
					src: url('5876Mogan.woff2') format('woff2'),
						url('5876Mogan.woff') format('woff');
					  font-display: auto;
				}

				.mogan{font-family: 'mogan' !important;}

						@font-face {
					font-family: 'rionaldo-angelo';
					src: url('9440Rionaldo-Angelo.woff2') format('woff2'),
						url('9440Rionaldo-Angelo.woff') format('woff');
					  font-display: auto;
				}

				.rionaldo-angelo{font-family: 'rionaldo-angelo' !important;}

						@font-face {
					font-family: 'marcellus-regular';
					src: url('1918Marcellus-Regular.woff2') format('woff2'),
						url('1918Marcellus-Regular.woff') format('woff');
					  font-display: auto;
				}

				.marcellus-regular{font-family: 'marcellus-regular' !important;}

						@font-face {
					font-family: 'andutione-handwritte';
					src: url('7789Andutione-Handwritte.woff2') format('woff2'),
						url('7789Andutione-Handwritte.woff') format('woff');
					  font-display: auto;
				}

				.andutione-handwritte{font-family: 'andutione-handwritte' !important;}

						@font-face {
					font-family: 'upakarti';
					src: url('475upakarti.woff2') format('woff2'),
						url('475upakarti.woff') format('woff');
					  font-display: auto;
				}

				.upakarti{font-family: 'upakarti' !important;}

						@font-face {
					font-family: 'baby-magnolia';
					src: url('465Baby-Magnolia.woff2') format('woff2'),
						url('465Baby-Magnolia.woff') format('woff');
					  font-display: auto;
				}

				.baby-magnolia{font-family: 'baby-magnolia' !important;}

						@font-face {
					font-family: 'elizabeth-script';
					src: url('644Elizabeth-Script.woff2') format('woff2'),
						url('644Elizabeth-Script.woff') format('woff');
					  font-display: auto;
				}

				.elizabeth-script{font-family: 'elizabeth-script' !important;}

		